
#pagina{
    background-image: linear-gradient(to right, rgb(253, 255, 255),white)
  }
  #header{
    height: 35px;
  }
  
  #tipo{
      width: 300px;
      font-size: 10px;
      color: #000000;
      height: 26px;
  }
  #documento{
      width: 300px;
      margin-left: 20px;
      font-size: 10px;
      color: #000000;
      height: 26px;
  }

  #icono-info{
    position: relative;
    
  }
  #informacion{
    height: 25px;
    width: 25px;
    margin-right: 0px !important;
  }

  #documento1{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    height: 26px;
    margin-top: -2px;
}
  #pnombre{
      width: 300px;
      margin-left: 20px;
      font-size: 10px;
      color: #000000;
      height: 26px;
  }
  #snombre{
      width: 300px;
      margin-left: 20px;
      font-size: 10px;
      color: #000000;
      height: 26px;
  }
  #papellido{
      width: 300px;
      font-size: 10px;
      color: #000000;
      height: 26px;
  }

  #papellid1{
    width: 300px;
    font-size: 10px;
    color: #000000;
    height: 26px;
    margin-top: -2px;
}
  #Agendar{
      margin-left: 20px;
      font-size: 10px;
  }
  #agenda{
      width: 28%;
      font-size: 10px;
  }
  button.calendar, button.calendar:active {
      width: 2.75rem;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
      background-repeat: no-repeat;
      background-size: 23px;
      background-position: center;
    }
    #fechan{
      margin-left: 20px;
      margin-right: 20px;
      font-size: 10px;
      color: #000000;
    }
    #fechan2{
        width: 100px;
        font-size: 10px;
    }
    #fechan3{
      margin-right: 10px;
      font-size: 10px;
    }
    #edad{
      width: 80px;
      margin-left: 12px;
      font-size: 10px;
      color: #000000;
      height: 26px;
  }
  #edad2{
      margin-left: 20px;
      font-size: 10px;
      color: #000000;
      height: 26px;
  }
  #edadc{
      margin-left: 8px;
      font-size: 10px;
      color: #000000;
      height: 26px;
  }
  #edadc2{
      margin-left: 4px;
      width: 80px;
      font-size: 10px;
      color: #000000;
      height: 26px;
  }
  #sexo{
      margin-left: 10px;
      width: 255px;
      font-size: 10px;
      color: #000000;
      height: 26px;
  }
  #numeropaciente{
    width: 260px;
    margin-left: 20px;
    font-size: 10px;
    justify-content: center;
    color: #000000;
    height: 26px;
    margin-top: 2.5px;
  }
  #numeropaciente1{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    box-sizing: inherit;
    color: #000000;
    margin-top: 3px;
    height: 26px;
  }
  #GrupoP{
    width: 300px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  #Mresidencia{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  #Mresidencia1{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    margin-top: -2px;
    height: 26px;
  }
  #fechaCor1{
    margin-left: -10px;
    margin-right: 10px;
    font-size: 10px;
    color: #000000;
    box-sizing: inherit;
  }
  
  #fechaCor12{
    margin-left: 8px;
    margin-right: 10px;
    font-size: 10px;
    color: #000000;
    box-sizing: inherit;
  }
  #fechaCor{
    width: 4px;
    font-size: 10px;
    margin-top: 5px;
  }
  #fechaCor2{
    margin-right: 10px;
    font-size: 10px;
    margin-top: 5px;
  }
  #fechac{
    margin-left: 10px;
  
  }
  #Estadog{
    width: 300px;
    font-size: 10px;
    height: 26px;
    color: #000000;
  }
  
  #hematosis{
    width: 300px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  #CodigoV{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    margin-top: 3px;
    height: 26px;
  }
  #CodigoV2{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  
  #fechanD1{
    width: 100px;
    font-size: 10px;
    margin-top: 8px;
    margin-top: 12px;
  }
  #fechanD2{
    margin-right: 10px;
    font-size: 10px;
    margin-top: 12px;
  }
  #fechaD3{
    width: 300px;
    font-size: 10px;
    color: #000000;
    margin-top: 12px;
  }
  #MDiagnostico{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    margin-top: 12px;
    height: 26px;
  }
  #FechaIN{
    width: 260px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
  }
  #FrecuenciaS{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  #hemorragia{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  #Dosis{
    width: 300px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  
  #HemorrageaL{
    width: 300px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  #HemorrageaL1{
    width: 300px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  #FechaDet{
    width: 300px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  
  #FechaDet2{
    margin-right: 10px;
    font-size: 10px;
    margin-top: 5px;
  }
  #FechaDet3{
    margin-right: 10px;
    font-size: 10px;
  }
  #fechat{
    width: 260px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    margin-top: -10;
    height: 26px;
  }
  #fechat1{
    margin-top: -10;
    font-size: 10px;
  }
  #PresenciaI{
    width: 300px;
      font-size: 10px;
      color: #000000;
      margin-top: 10px;
      height: 26px;
    }
  #Recibió{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    margin-top: 10px;
    height: 26px;
  }
  #factor{
    width: 300px;
      margin-left: 20px;
      font-size: 10px;
      color: #000000;
      margin-top: -10px;
      height: 26px;
    }
  #Costototal{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    margin-top: 0px;
    height: 26px;
  }
  
  #Costototal2{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  #Costototal3{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    margin-top: 0px;
    height: 26px;
  }
  #Costototal4{
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    color: #000000;
    margin-top: 0px;
    height: 26px;
  }
  #menu{
    float: right;
    color:   #666666 ;
    margin-top: -15px;
  }
  #Modalidad{
    width: 300px;
    font-size: 10px;
    color: #000000;
    height: 26px;
    }
  #administracion{
    width: 300px;
      font-size: 10px;
      margin-left: 20px;
      color: #000000;
      height: 26px;
    }
  
  #CodigoC{
    width: 300px;
    font-size: 10px;
    color: #000000;
    margin-top: 7.5px;
    height: 26px;
  }
  
  #foother{
    position: fixed;
    left: 0;
    top:  653px;
    right:0;
  }
  
  #button{
    margin-left: 15px;
    font-size: 12px;
  }
  
  
  .panel-footer-noborder {
    border-width: 1px 0 0 0;
  }
  
  .panel-footer {
    border: 0,5px solid #95B8E7;
    overflow: hidden;
    background: #F4F4F4;
  
  }
  
  #nuevo{
   margin-left: 20px;
   width: 300px;
  }
  
  #nuevo1{
    width: 300px;
    margin-top: 12px;
    height: 26px;
  }
  
  #nuevo2{
    width: 200px;
    font-size: 10px;
    color: #000000;
    margin-top: 8px;
    height: 26px;
  }
  
  #nuevo3{
    width: 125px;
    font-size: 10px;
    color: #000000;
    margin-top: 8px;
    height: 26px;
  }

  #pesoTalla{
    width: 125px;
    font-size: 10px;
    color: #000000;
    margin-top: 4px;
    height: 26px;
  }
  #nuevo4{
    margin-left: -20px;
    width: 168px;
    margin-top: 3px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  
   #nuevo5{
    width: 168px;
    margin-top: 3px;
    font-size: 10px;
    color: #000000;
    margin-left: 5px;
   }
  
   #nuevo6{
    width: 135px;
    font-size: 10px;
    color: #000000;
    height: 26px;
    margin-top: 8px;
  }
  
   #nuevo7{
    margin-left: 20px;
    width: 180px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  
   #nuevo8{
    width: 125px;
    font-size: 10px;
    color: #000000;
    margin-top: 8px;
    height: 26px;
  }
  
  #span1{
    margin-top: 0px;
  }
  #span01{
    margin-top: -2px;
  }
  #span2{
    margin-top: -14px;
  }
  
  
  #nuevo9{
    width: 200px;
    font-size: 10px;
    color: #000000;
    height: 26px;
  }
  
  #nuevo09{
    width: 200px;
    font-size: 10px;
    color: #000000;
    height: 26px;
    margin-top: -2px;
  }

  #fechaInicioS{
    width: 200px;
    font-size: 10px;
    color: #000000;
    height: 26px;
    margin-top: -11px;
  }

  #fechaInicioS1{
    width: 200px;
    font-size: 10px;
    color: #000000;
    height: 26px;
    margin-top: -14px;
  }

  #fechaDiagnosticoAR{
    width: 200px;
    font-size: 10px;
    color: #000000;
    height: 26px;
    margin-right: 40px;
    
  }
  #soporte{
    background-color: #337ab7;
    color: white;
    height: 40px;
  }
  #cerrar{
    color: white;
  }
  
  .input-group-text{
    height: 26px !important;
    margin-top: 8px;
  
  }
  label{
    margin-bottom: 0rem;
  }
  #titulo{
    position: absolute;
      top: 5px;
  }
  /* 
  .form-control{
    height: 26px !important;
    font-size: 13px !important;
  } */
  
  