<div class="y-card" style="height: 100%; width: 100%;">
    <div class="y-card-header">
        <div class="row">
            <div class="col-md-12" id="">
                <button type="button" (click)="formulario(frm_nuevo)" id="button" class="btn btn-secondary"><i
                        class="fas fa-file-alt"></i> Nuevo</button>
            </div>
        </div>
    </div>
    <div class="y-card-body" style="overflow: hidden; padding: 5px;">

        <p-table [value]="artritis" styleClass="p-datatable-sm " [scrollable]="true" scrollHeight="261px"
            tableStyleClass="prime-table" selectionMode="single" dataKey="code" (onRowSelect)="onRowSelect($event)">
            <ng-template pTemplate="header">
                <tr tableStyleClass="header">
                    <th style="width:80px;background-color: #02adb5e0; color: white;">Tipo identificacion<i
                            class="fas fa-filter" style="cursor: pointer;" (click)="nombrearchiv(content2)"></i></th>
                    <th style="width:90px;background-color: #02adb5e0; color: white;">No identificacion<i
                            class="fas fa-filter" style="cursor: pointer;" (click)="vigent(content3)"></i></th>
                    <th style="width:150px;background-color: #02adb5e0; color: white;">Primer nombre<i
                            class="fas fa-filter" style="cursor: pointer;" (click)="open(content)"></i> </th>
                    <th style="width:110px;background-color: #02adb5e0; color: white;">Segundo nombre</th>
                    <th style="width:100px;background-color: #02adb5e0; color: white;">Primer apellido</th>
                    <th style="width:80px;background-color: #02adb5e0; color: white;">Segundo apellido</th>
                    <th style="width:80px;background-color: #02adb5e0; color: white;">Fecha nacimiento</th>
                    <th style="width:80px;background-color: #02adb5e0; color: white;">documento</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr [pSelectableRow]="data">
                    <td style="width:80px">{{data.CAMPO_8}}</td>
                    <td style="width:90px">{{data.CAMPO_9}}</td>
                    <td style="width:150px">{{data.CAMPO_4}}</td>
                    <td style="width:110px">{{data.CAMPO_5}}</td>
                    <td style="width:100px">{{data.CAMPO_6}}</td>
                    <td style="width:80px">{{data.CAMPO_7}}</td>
                    <td style="width:80px">{{data.CAMPO_10}}</td>
                    <td style="width:80px">{{data.CAMPO_11}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="y-card-footer" style="padding: 0px;">
        <p-paginator [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="paginador($event)"
            [rowsPerPageOptions]="[5,10,20,30,50]"></p-paginator>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss" id="pagina">
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" name="primerApellido" [(ngModel)]="primerApellido"
                        placeholder="Tipo documento">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" (click)="consultarDatos()"
            (click)="d('Cross click')" style="margin-right: 4px;"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
            (click)="limpiarFiltros()" (click)="d('Cross click')"></button>
    </div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss" id="pagina">
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-12">

                    <select name="" class="form-control" id="tipo" name="TipoIdentificaion"
                        [(ngModel)]="TipoIdentificaion">
                        <option value=""></option>
                        <option *ngFor='let identificacion of identificacion' [ngValue]="identificacion.NOMBRE_OPCION"
                            [ngValue]="identificacion.CODIGO_OPCION">
                            {{identificacion.CODIGO_OPCION}}.{{identificacion.NOMBRE_OPCION}}
                        </option>
                    </select>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" (click)="consultarDatos()"
            (click)="d('Cross click')" style="margin-right: 4px;"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
            (click)="limpiarFiltros()" (click)="d('Cross click')"></button>
    </div>
</ng-template>


<ng-template #content3 let-c="close" let-d="dismiss" id="pagina">
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <input type="number" name="NoIdentificacion" [(ngModel)]="NoIdentificacion" id="tipo"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control"
                        placeholder="Numero de documento">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" (click)="consultarDatos()"
            (click)="d('Cross click')" style="margin-right: 4px;"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
            (click)="limpiarFiltros()" (click)="d('Cross click')"></button>
    </div>
</ng-template>

<ng-template #content4 let-c="close" let-d="dismiss" id="pagina">
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <select name="" id="" class="form-control" name="primerNombre" [(ngModel)]="primerNombre">
                        <option value="1">Sin soportes</option>
                        <option value="2">Soportes incompletos</option>
                        <option value="3">Soportes completos</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" (click)="consultarDatos()"
            (click)="d('Cross click')" style="margin-right: 4px;"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
            (click)="limpiarFiltros()" (click)="d('Cross click')"></button>
    </div>
</ng-template>


<ng-template #frm_nuevo let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Formulario nuevo – CAC ARTRITIS</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" (click)="limpiarFormulario()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="input-group mb-3">
                <div class="col-md-6">
                    <label id="documento">8.Tipo de identificacion del paciente:</label>
                    <select name="" class="form-control" id="documento" name="ARTRITIS.CAMPO_8"
                        [ngClass]="{'is-invalid': _ARTRITIS_8 == false }" (change)="buscarAfiliado()"
                        (change)="aprobar_8(ARTRITIS.CAMPO_8)"
                        style="background-position: right calc(1.5em + 0.1875rem) center;"
                        [(ngModel)]="ARTRITIS.CAMPO_8" [disabled]="existeAfliado">
                        <option value=""></option>
                        <option *ngFor='let tipodocumento of tipodocumento' [ngValue]="tipodocumento.NOMBRE_OPCION"
                            [ngValue]="tipodocumento.CODIGO_OPCION">
                            {{tipodocumento.CODIGO_OPCION}}.{{tipodocumento.NOMBRE_OPCION}}
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label id="documento">9.Número de identificacion del paciente:</label>
                    <input type="text" maxlength="20" (change)="buscarAfiliado()" [disabled]="existeAfliado"
                        (change)="aprobar_9(ARTRITIS.CAMPO_9)"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                        [ngClass]="{'is-invalid': _ARTRITIS_9 == false }" class="form-control" id="documento"
                        name="ARTRITIS.CAMPO_9" [(ngModel)]="ARTRITIS.CAMPO_9">
                </div>
            </div>
        </div>
        <div class="row" #collapse="ngbCollapse" [(ngbCollapse)]="desplegar">
            <div class="card" style="width: 100% ;border: 0px solid rgba(0,0,0,.125);">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="col-md-4">
                            <label id="documento">4.Primer nombre:</label>
                            <input type="text" maxlength="30" class="form-control" id="documento"
                                [ngClass]="{'is-invalid': _ARTRITIS_4 == false }" (change)="aprobar_4(ARTRITIS.CAMPO_4)"
                                [disabled]="existeAfliado" name="ARTRITIS.CAMPO_4" [(ngModel)]="ARTRITIS.CAMPO_4">
                        </div>
                        <div class="col-md-4">
                            <label id="documento">5.Segundo nombre:</label>
                            <input type="text" maxlength="30" class="form-control" id="documento" name="ARTRITIS.CAMPO_5"
                                [(ngModel)]="ARTRITIS.CAMPO_5">
                        </div>

                        <div class="col-md-4">
                            <label id="documento">6.Primer apellido:</label>
                            <input type="text" maxlength="30" class="form-control" id="papellido"
                                [ngClass]="{'is-invalid': _ARTRITIS_6 == false }" (change)="aprobar_6(ARTRITIS.CAMPO_6)"
                                [disabled]="existeAfliado" name="ARTRITIS.CAMPO_6" [(ngModel)]="ARTRITIS.CAMPO_6">
                        </div>

                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-4">
                            <label id="documento">7.Segundo apellido del usuario: </label>
                            <input maxlength="30" type="text" class="form-control" id="documento"
                                name="ARTRITIS.CAMPO_7" [(ngModel)]="ARTRITIS.CAMPO_7">
                        </div>
                        <div class="col-md-4">
                            <label id="documento">10.Fecha de nacimiento:</label>
                            <div class="input-group" id="documento">
                                <div class="input-group-prepend">
                                    <span id="documento" class="input-group-text"
                                        [ngClass]="{'spanError': _ARTRITIS_10 == false }"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-calendar2-date" viewBox="0 0 16 16">
                                            <path
                                                d="M6.445 12.688V7.354h-.633A12.6 12.6 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                                            <path
                                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                                            <path
                                                d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
                                        </svg></span>
                                </div>
                                <input type="date" class="form-control" name="ARTRITIS.CAMPO_10"
                                    [(ngModel)]="ARTRITIS.CAMPO_10" [ngClass]="{'is-invalid': _ARTRITIS_10 == false }"
                                    (change)="CAMPO_10(ARTRITIS.CAMPO_10)" (change)="aprobar_10(ARTRITIS.CAMPO_10)"
                                    (change)="cargarNacimiento(ARTRITIS.CAMPO_10)" id="documento"
                                    style="width: 93px !important;" [disabled]="existeAfliado">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <label id="documento">11.documento:</label>
                            <select name="" class="form-control" id="documento" name="ARTRITIS.CAMPO_11"
                                [ngClass]="{'is-invalid': _ARTRITIS_11 == false }"
                                style="background-position: right calc(1.5em + 0.1875rem) center;"
                                [(ngModel)]="ARTRITIS.CAMPO_11" [disabled]="existeAfliado"
                                (change)="aprobar_11(ARTRITIS.CAMPO_11)">
                                <option *ngFor='let ARTRITIS11 of ARTRITIS11' [ngValue]="ARTRITIS11.NOMBRE_OPCION"
                                    [ngValue]="ARTRITIS11.CODIGO_OPCION">
                                    {{ARTRITIS11.CODIGO_OPCION}}.{{ARTRITIS11.NOMBRE_OPCION}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-4">
                            <label id="documento">12.Código pertenencia étnica:</label>
                            <select class="form-control" id="documento" name="ARTRITIS.CAMPO_12"
                                [(ngModel)]="ARTRITIS.CAMPO_12">
                                <option *ngFor='let CEtnica of CEtnica' [ngValue]="CEtnica.NOMBRE_OPCION"
                                    [ngValue]="CEtnica.CODIGO_OPCION">
                                    {{CEtnica.CODIGO_OPCION}}.{{CEtnica.NOMBRE_OPCION}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label id="documento">13.Direccion:</label>
                            <input type="text" id="documento" class="form-control" name="ARTRITIS.CAMPO_13"
                                [(ngModel)]="ARTRITIS.CAMPO_13">
                        </div>
                        <div class="col-md-4">
                            <label id="documento1">14.Número telefónico:</label>
                            <input type="number" class="form-control" id="documento" name="ARTRITIS.CAMPO_14"
                                [(ngModel)]="ARTRITIS.CAMPO_14">
                        </div>

                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-4">
                            <label id="documento">15.Codigo de municipio de residencia:</label>
                            <input type="text" id="documento" class="form-control" name="ARTRITIS.CAMPO_15"
                                [(ngModel)]="ARTRITIS.CAMPO_15">
                        </div>
                        <div class="col-md-4">
                            <label id="documento">16.Fecha de afiliación a la EAPB:</label>
                            <div class="input-group" id="documento">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" class="bi bi-calendar2-date"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M6.445 12.688V7.354h-.633A12.6 12.6 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                                            <path
                                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                                            <path
                                                d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
                                        </svg></span>
                                </div>
                                <input type="date" class="form-control" id="documento" name="ARTRITIS.CAMPO_16"
                                    [(ngModel)]="ARTRITIS.CAMPO_16">
                            </div>
                        </div>

                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-4">
                            <label id="documento">15.Número telefónico del paciente:</label>
                            <input maxlength="21" type="text"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control"
                                id="documento" name="ARTRITIS.CAMPO_15" [(ngModel)]="ARTRITIS.CAMPO_15">
                        </div>
                        <div class="col-md-4">
                            <label id="documento">16.Fecha de afiliación a la EAPB que reporta:</label>
                            <div class="input-group" id="documento">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="documento"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-calendar2-date" viewBox="0 0 16 16">
                                            <path
                                                d="M6.445 12.688V7.354h-.633A12.6 12.6 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                                            <path
                                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                                            <path
                                                d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
                                        </svg></span>
                                </div>
                                <input type="date" class="form-control" name="ARTRITIS.CAMPO_16"
                                    [disabled]="ARTRITIS_16" [(ngModel)]="ARTRITIS.CAMPO_16"
                                    (change)="CAMPO_16(ARTRITIS.CAMPO_16)" id="documento">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label id="documento">90.Serial BDUA:</label>
                            <input type="number" class="form-control" id="documento" name="ARTRITIS.CAMPO_90"
                                [(ngModel)]="ARTRITIS.CAMPO_90">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" id="button" class="btn btn-secondary" type="submit" (click)="editar()"
            [disabled]="yaGuardo"><i class="fas fa-save"></i>
            Continuar con el diligenciamiento</button>
        <button type="button" id="button" class="btn btn-primary" type="submit" (click)="guardarDatos()"
            [disabled]="Guardo"><i class="fas fa-save"></i>
            Guardar</button>
        <!-- <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button> -->
    </div>
</ng-template>