<div id="container">
  <!-- menu principal -->
  <nav mat-tab-nav-bar class="barra_menu">

    <a mat-tab-link (click)="crearTab('Inicio','Hemofilia-cargar')" class="menu"><i id="boton_home;"
        class="fas fa-home"></i>Inicio</a>
    <a mat-tab-link [matMenuTriggerFor]="carga_de_archivos" class="menu" #carga_archivo="matMenuTrigger"
      (mouseenter)="carga_archivo.openMenu()">Carga de archivos <i id="boton_home" class="fas fa-caret-down"></i></a>
    <a mat-tab-link [matMenuTriggerFor]="cuentas_cac" class="menu" #cuentas_cac2="matMenuTrigger"
      (mouseenter)="cuentas_cac2.openMenu()">Cuentas CAC <i id="boton_home" class="fas fa-caret-down"></i></a>
      <button mat-button  style="position: absolute;right:0px;top:-3px;color: white;">salir <i id="icono" class="fas fa-sign-out-alt"></i></button>
  </nav>

  <!-- submenus de carga de archivos  -->
  <mat-menu #carga_de_archivos="matMenu">
    <div (mouseleave)="carga_archivo.closeMenu()">
      <a (click)="crearTab('Hemofilia','Hemofilia-cargar')" mat-menu-item>Hemofilia</a>
    </div>
  </mat-menu>

  <!-- submenus de Cuentas CAC -->
  <mat-menu #cuentas_cac="matMenu">
    <div (mouseleave)="cuentas_cac2.closeMenu()">
      <a (click)="crearTab('Hemofilia','Hemofilia-listar')" mat-menu-item>Hemofilia</a>
    </div>
  </mat-menu>
  <!-- creacion de los tabs -->
  <mat-tab-group  [selectedIndex]="indexx" >
    <mat-tab *ngFor="let tab of tabs; let index = index;" style="height: 30px;">
      <ng-template mat-tab-label>
        <nav [routerLink]="tab.contenido">{{tab.nombre_pantalla}}<button id="eliminar" (click)="removeTab(index)"><i
              class="fas fa-times"></i></button></nav>
      </ng-template>
      <ng-template matTabContent>
        <!-- <router-outlet></router-outlet> -->
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
