
@use '~@angular/material' as mat;

@include mat.core();

$my-palette: mat.$blue-palette,900;
// contenedor menu 
.mat-tab-links{
  background-color: #02adb5;
    height: 30px;
}
// componente del menu 
.mat-tab-link{
  background-color: #02adb5 !important;
    height: 30px !important;
    color: white !important;
    opacity: 1.6 !important;   
} 
// contenedor de los tab 
.mat-tab-labels {
  background-color: #d4f9ec33;
  height: 30px;
}
// tabs 
.mat-tab-label{
    height: 100% !important;
    background: linear-gradient(#ffff,#02acb53b );
    opacity: 1.6 !important;
    padding: 0 0px !important;
}
// tab activo 
.mat-tab-label-active{
  background-color: #02adb55e;
}
// barras de desplazamiento de los tab 
.mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-before.mat-elevation-z4 {
  background: white;
}
.mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-after.mat-elevation-z4 {
  background:white;
}
// barra de abajo
.mat-ink-bar {
  background-color: #02adb5 !important;
}
nav.ng-star-inserted {
  padding: 5px 50px;
}
.mat-tab-body-wrapper{
  height: 100% !important;
}
.mat-tab-group{
  height: 100% !important;

}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pruebas-primary: mat.define-palette(mat.$blue-palette,900);
$pruebas-accent: mat.define-palette(mat.$pink-palette,);

// The warn palette is optional (defaults to red).
$pruebas-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pruebas-theme: mat.define-light-theme((
  color: (
    primary: $pruebas-primary,
    accent: $pruebas-accent,
    warn: $pruebas-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pruebas-theme);


