#table{
    font-size: 10px;
    }
    .table-striped{
        font-size: 10px;
    }
    #pagina{
     background-image: linear-gradient(to right, rgb(253, 255, 255),white)
    
    }
    .table th{
        background-color: #337ab7;
        color: white;
         font-family: Arial, Helvetica, sans-serif;
         height: 5px;
    }
    #filtros{
        width: 700px;
    }
    
    #button{
        float: right;
        margin-right: 30px;
        margin-top: 5px;
    }
    .p-datatable-scrollable-header-box {
        padding-right: 0px !important;
    }
    
#documento{
        font-size: 12px;
        color: #000000; 
} 
       
.spanError{
    border-color: red !important;
    background: #ff000017 !important;
    color: #000000;
}
  
.error{
    border-color: red !important;
  }
    